body {
  background: linear-gradient(to right, #bd34ed, orange);
  color: #fff;
  text-align: center;
  justify-content: center;
  padding: 10rem;
  font-family: "poppins", sans-serif;
}

h1 {
 font-size: 3rem;
}

p {
 font-size: 1.5rem;
}

.submitButton {
 padding: .5rem 1rem;
 font-size: 1rem;
 font-weight: 500;
 border-radius: 4px;
 outline: none;
 border: 0;
}

.submitButton:hover {
 color: #fff;
 background: linear-gradient(to right, #bd34ed, orange);
}

.guessField {
 outline: none;
 border: 0;
 padding: 0.5rem 1rem;
 width: 20%;
}

label {
 font-size: 1.5rem;
}
