/* #countLabel {
 display: block;
 text-align: center;
 font-size: 50px;
} */

/* #myDiv {
  width: 100px;
  height: 100px;
  background-color: lightgreen;
} */

/* addEventListener
#innerDiv {
  background-color: lightgreen;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}

#outerDiv {
  background-color: lightgreen;
  width: 200px;
  height: 200px;
} */

/* show and hide HTML elements */
/* body {
  background: rgb(148, 128, 128);
  color: white;
  text-align: center;
  justify-content: center;
  padding: 20rem;
} */

/*#myImg {
  width: 300px;
  /* margin-left: 18rem;
  margin-top: 15px; 
}*/

/* detect key presses */
/* #myDiv {
  background-color: lightgreen;
  width: 100px;
  height: 100px;
  border: 1px solid;
  position: relative;
} */

/* animation */
/* #myDiv {
  background-color: lightgreen;
  width: 100px;
  height: 100px;
  position: relative;
} */

/* canvas API */
#myCanvas {
  border: 1px solid black;
  /* background-color: skyblue; */
}
